{% extends "members_interest_app/base.html" %}
{% block content%}
<div class="container">
    <main class="container">
        <div class="mt-4">
            <div class="bg-light p-5 rounded">
                <h1>Members of Parliament</h1>
                <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
                <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
            </div>    
        </div>
        <div class="mt-4">
            <div class="bg-light p-5 rounded">
                <h1>Financial Interests</h1>
                <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
                <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
            </div>    
        </div>
        <div class="mt-4">
            <div class="bg-light p-5 rounded">
                <h1>Navbar example3</h1>
                <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
                <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
            </div>    
        </div>
      </main>
</div>
{% endblock content %}