{% extends "members_interest_app/base.html" %}

{% block content %}
<main>
    <br>
    <h3>
        Disclaimer: Data aggregation is limited for two reasons. Extraction is incomplete as source data is highly textual and speed 
        was prioritised. And many registered interests are not available through the API. For example, Boris Johnson's interests are listed 
        on <a href="https://publications.parliament.uk/pa/cm/cmregmem/210614/johnson_boris.htm">parliament's publications site</a> 
        website but not the <a href="https://members-api.parliament.uk/api/Members/1423/RegisteredInterests">API</a>.
    </h3>
    <br>
    <p>Aggregated stats calculated from registered interests data sourced fromn parliament API for the period approx 2010-Aug24</p>
    <br>
    <section>
        <h2>Top 10 MPs by Number of Registered Interests</h2>
        <table>
            <thead>
                <tr>
                    <th>MP Name</th>
                    <th>Number of Registered Interests</th>
                </tr>
            </thead>
            <tbody>
                {% for mp in top_10_mps_by_num_interest_counts %}
                <tr>
                    <td><a href="{% url 'member' mp.id %}">{{ mp.name }}</a></td>
                    <td>{{ mp.num_registered_interests }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <br>

    <section>
        <h2>Top 10 MPs by Total GBP Value of Registered Interests</h2>
        <table>
            <thead>
                <tr>
                    <th>MP Name</th>
                    <th>Total GBP Value</th>
                </tr>
            </thead>
            <tbody>
                {% for mp in top_10_mps_by_gbp_interest_sum %}
                <tr>
                    <td><a href="{% url 'member' mp.id %}">{{ mp.name }}</a></td>
                    <td>{{ mp.sum_registered_interests }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <br>

    <section>
        <h2>Category Frequency</h2>
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_frequency %}
                <tr>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.cat_freq }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock content %}
